:root{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: whitesmoke;
}

/*Sistemazioni per l'header*/
header{
    background-color: white;
    width: 100%;

}

#logo{
    width: 90px;
    vertical-align: middle;
}

#logo_text{
    font-weight: bold;
    font-size: 80px;
    width: 90px;
    vertical-align: middle;
}

/*Stile per il main*/

/*Setto il contenitore del corpo principale, che racchiude le sezioni*/
.container{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 0px 50px 100px 50px;
}
/*Imposto la prima riga del body, con i bottoni principali*/
#mainButtons{
    width: 100%;
    border-bottom: 3px solid whitesmoke;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px; 
}

#taskButton{
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 10px 15px;
}

#sectionButton{
    background-color: white;
    color:gray;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px 15px;
}

/*Sezione New Task*/

h4{
    font-size: 20px;
    margin-bottom: 5px;
}

.checkmark::after{
    content: "\2713";
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 50%;
    padding: 2px;
}

.editButton{
    color: white;
    background-color: skyblue;
    border: 0px;
    border-radius: 15px;
    padding: 10px;

}

/*Sezione Today*/

.crossmark::after{
    content: "\2715";
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px;
}

.goalsButton{
    background-color: purple ;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-top: 15px;

}

.recruitingButton{
    background-color: green;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.mobileButton{
    background-color: orange ;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 10px 15px;
}

/*Stili Upcoming section*/

.webButton{
    background-color: palevioletred ;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.saleButton{
    background-color: olive;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 15px;

}